* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #70AD4A; }

a:hover,
a:focus {
  text-decoration: underline; }

h3 {
  font-weight: 100; }

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto; }

#layout {
  padding: 0; }

.header {
  text-align: center;
  top: auto;
  margin: 3em auto; }
  .header img {
    display: none;
    opacity: 0.1;
    max-width: 100%;
    float: right;
    margin-bottom: 10px; }

.sidebar {
  background: #385228;
  color: #fff; }
  .sidebar a h1 {
    color: white; }

.brand-title,
.brand-tagline {
  margin: 0; }

.brand-title {
  text-transform: uppercase; }

.brand-tagline {
  font-weight: 300;
  color: #b0cadb; }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.nav-item a {
  background: transparent;
  border: 2px solid #b0cadb;
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%; }

.nav-item a:hover,
.nav-item a:focus {
  background-color: #DFE8B8;
  color: #444;
  border: 2px solid #DFE8B8;
  text-decoration: none; }

.content-subhead {
  text-transform: uppercase;
  color: #636060;
  border-bottom: 1px solid #eee;
  padding: 0.6em 0;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 0.1em; }

.content {
  padding: 2em 1em 0;
  background-color: #d1d1d1; }

.footer {
  text-align: center;
  padding: 1em 0; }

.footer a {
  color: #ccc;
  font-size: 80%; }

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none; }

@media (min-width: 48em) {
  .beirutspring {
    display: block; }
  .content {
    padding: 2em 3em 0;
    margin-left: 25%; }
  .header {
    margin: 20% 2em 0;
    text-align: right; }
    .header img {
      display: block; }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0; } }

.card {
  background-color: white;
  border: 1px solid silver;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px; }
  .card h2.sectionhead {
    background-color: #385228;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 120%; }
  .card .imgcontainer {
    background-color: #CFE0CB; }
  .card img {
    max-width: 100%;
    background-color: #CFE0CB; }
  .card p {
    padding: 10px; }
  .card .userMeta {
    padding: 5px;
    font-size: 12px;
    overflow: auto; }
  .card .userImage, .card .userInfo, .card .provider {
    display: inline-block; }
  .card .userImage {
    float: left; }
    .card .userImage img {
      border-radius: 5px; }
  .card .userInfo {
    margin-left: 10px; }
  .card .provider {
    opacity: 0.8;
    float: right;
    margin-top: 5px; }
  .card.green {
    text-align: center;
    background: #385228;
    color: white; }
    .card.green h4 a {
      background-color: #C4F7B8;
      padding: 10px 20px;
      border-radius: 5px;
      color: #4D5648; }
    .card.green p {
      opacity: 0.6; }

a.primaryButton {
  padding: 5px 11px;
  background-color: #DFE8B8;
  border: 1px solid silver;
  border-radius: 3px;
  color: #385228; }

#blogposts ul {
  padding: 8px;
  margin: 0;
  font-size: 14px; }

#blogposts li {
  list-style-type: none; }
  #blogposts li:last-child h4 {
    border: none; }

#blogposts h3, #blogposts h4 {
  margin: 0;
  margin-top: 10px; }

#blogposts h4 {
  margin-bottom: 10px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
  color: #777;
  text-transform: uppercase;
  font-size: 12px; }

#videos ul {
  padding: 8px;
  margin: 0;
  font-size: 14px; }

#videos li {
  overflow: auto;
  list-style-type: none;
  margin-bottom: 10px; }
  #videos li:last-child h4 {
    border: none; }

#videos h3, #videos h4 {
  margin: 0;
  margin-top: 10px; }

#videos h4 {
  margin-bottom: 10px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
  color: #777;
  text-transform: uppercase;
  font-size: 12px; }

#videos .thumb, #videos .info {
  display: inline-block; }

#videos .thumb {
  float: left; }

#videos .info {
  width: 160px;
  padding-left: 10px; }

#newPostsAvailable {
  position: fixed;
  top: -100px;
  width: 280px;
  margin: auto;
  left: 10px;
  padding: 10px;
  background-color: #EAC84B;
  color: black;
  border: 1px solid #DADAAB;
  transition: 0.2s; }
  #newPostsAvailable.active {
    top: 10px; }
  #newPostsAvailable a {
    color: #AF0909; }

/*# sourceMappingURL=app.css.map */