.card{

	h2.sectionhead{
	    background-color: #385228;
	    margin: 0;
	    padding: 10px;
	    color: white;
	    font-size: 120%;
	}
	
	background-color:white;
	border:1px solid silver;
	overflow:hidden;
	border-radius:5px;
	margin-bottom:10px;

	width:300px; //2px border and 298 active;
	.imgcontainer{
		background-color:#CFE0CB;
	}
	img{
		max-width:100%;
		background-color:#CFE0CB;
		border-bottom:1px solid #E8E7E7;
	}
	p{
		padding:10px;
	}

	.userMeta{
		border-top:1px solid #E8E7E7;
		padding:10px;
		font-size:12px;
		overflow:auto;
		background-color:#F1F1F1;
	}

	.userImage, .userInfo, .provider{
		display:inline-block;
	}

	.userImage{
		float:left;
		img{
			border-radius:5px;
			background:white;
		}
	}
	
	.userInfo{
		margin-left:10px;
	}

	.provider{
		opacity:0.8;
		float:right;
		margin-top:5px;
		img{
			border-radius:50%;
		}
	}


&.green{
	text-align:center;
	background:#385228;
	color:white;
	h4 a{
		background-color: #C4F7B8;
	    padding: 10px 20px;
	    border-radius: 5px;
		color:#4D5648;
	}
	p{
		opacity:0.6;
	}
	}


	&.autofloat{
		float:left;
		margin-right:10px;
	}
}