.card{

	h2.sectionhead{
	    background-color: #CEE0C3;
	    margin: 0;
	    padding: 10px;
	    color: #385228;
	    font-size: 120%;
	}
	
	background-color:white;
	border:1px solid silver;
	overflow:hidden;
	border-radius:5px;
	margin-bottom:10px;

	width:300px; //2px border and 298 active;
	.imgcontainer{
		background-color:#CFE0CB;
	}
	img{
		max-width:100%;
		background-color:#CFE0CB;
	}
	p{
		padding:10px;
	}

	.userMeta{
		padding:5px;
		font-size:12px;
		overflow:auto;
	}

	.userImage, .userInfo, .provider{
		display:inline-block;
	}

	.userImage{
		float:left;
		img{
			border-radius:5px;
		}
	}
	
	.userInfo{
		margin-left:10px;
	}

	.provider{
		opacity:0.8;
		float:right;
		margin-top:5px;
	}


}